<%- include("../../header.ejs") %>
    <div class="otp_container">
        <div class="otp_content_area">
            <div class="otp_content">
                <form method="post" id="otp_form">  
                    <div class="verification">
                        <p>Mobile OTP Verification</p>
                    </div>

                    <div class="content_verify">
                        <p>Please enter the verification code</p>
                    </div>

                    <div class="otp_number">

                        <input type="text" class="num_one" maxlength="1" id="one" name="one">
                        <input type="text" class="num_two" maxlength="1" id="two" name="two">
                        <input type="text" class="num_three" maxlength="1" id="three" name="three">
                        <input type="text" class="num_four" maxlength="1" id="four" name="four">
                        <input type="text" class="num_five" maxlength="1" id="five" name="five">
                        <input type="text" class="num_six" maxlength="1" id="six" name="six">

                    </div>

                    <div style="color:brown; display: flex; justify-content: center;" id="otp_error_message"> </div>

                    <div class="verify_otp_button">
                        <button type="submit" id="otp_submit_btn">Verify</button>
                    </div>

                    <div class="resend_otp">
                        <p><a href="/otp/resend_otp?phone=<%= phone %>">Resend otp</a></p>
                    </div>
                </form>

            </div>
        </div>
    </div>
<%- include("../../end.ejs") %>

<script src="/js/user/otpPage.js"></script>
<script src="/js/otp.js"></script>