@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto:ital,wght@1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    
}

.btn-danger{
    padding: .8rem 1rem;
    background-color: rgb(0, 206, 0);
    border: none;
    color: white;
    font-family: 'Poppins',sans-serif;
    margin-right: .3rem;
    cursor: pointer;
    transition: .5s all;
}
.btn-secondary{
    padding: .8rem 1rem;
    background-color: red;
    border: none;
    color: white;
    font-family: 'Poppins',sans-serif;
    margin-left: .3rem;
    cursor: pointer;
    transition: .5s all;
}
.btn-danger:active{
   transform: scale(.95);
}
.btn-secondary:active{
   transform: scale(.95);
}

.container{
    height: 100vh;
    width: 100vw;
}
.header{
    display: flex;
    width: 100vw;
    height: 4rem;
    background-color:lightsteelblue ;
}
.web_logo{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 1.2rem;
    flex: 1;
    color: aliceblue;
}
.search_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.page_links{
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
}   
.page_links ul{
    display: flex;
} 
.page_links ul li{
    list-style: none;
}
.page_links ul li a{
    text-decoration: none;
    color: #4D4C7D;
    margin-right: 3rem;
}
.page_links ul li a:hover{
    color: #f5bd1390;
}
.bi_topnav{
    font-size: 1.5rem;
}

/* ===================================================
   BODY   SIDEBAR
==================================================== */
.body{
    width: 100vw;
    height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    background-color: aliceblue;
}
.side_bar{
    height: calc(100vh - 4rem);
    width: 15rem;
    display: flex;
    justify-content: end;
}
.sidebar_list{
    width: 90%;
    height: 100%;
}
.body .side_bar .sidebar_list ul li{
    list-style: none;
    font-size: large;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: rgb(235, 243, 250);
    border-bottom: 1px solid #4D4C7D;
    border-left: 1px solid #4D4C7D;
}
.body .side_bar ul li:hover{
    background-color: #f5bd134c;
    color: #4D4C7D;
}
.bi_admin_sidebar{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ============================================================
   LOGIN
============================================================ */
.login_body{
    width: 100vw;
    height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;

}
.box{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    width: 54rem;
    height: 30rem;
    overflow:hidden ;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
}
.input_logoin{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 2rem 0 0 2rem; */
    background-color: rgba(255, 255, 255, 0.842);

}
.logo{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
}
.form_layout{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    /* border:1px solid black; */
}
.input_logoin .form_layout form{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    background-color: white;
    width: 100%;
}
.input_logoin .form_layout form input{
    height: 1rem;
    padding-left: .5rem;
}
.login_submit{
    width: 5rem;
    height: 2rem;
    background-color: #edb409;
    color: #363062;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.login_submit:hover{
    background-color: #363062;
    color:aliceblue;
    border: none;
    border-radius: 4px;
}
.form_layout form .redirect_signin a{
    text-decoration: none;
}
.login_head{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    height: 6rem;
    color: rgba(0, 0, 0, 0.638);
}

.login_submit_div{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightsteelblue;
}
.logo img{
    width: 12rem;
    height: 12rem;
}

/* ============================================================
   SIGNUP
============================================================ */
.signup_submit_div{
    display: flex;
    justify-content: center;
}
.signup_box{
    display: flex;
    width: 54rem;
    height: 33rem;
    overflow:hidden ;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
}
.signup_part{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.signup_part_head{
font-size: xx-large;
height: 3.4rem !important;
}
.part_2_btn{
    width: 7rem;
    height: 2rem;
    background-color: #edb409;
    color: #363062;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.part_2_btn:hover{
    background-color: #363062;
    color: aliceblue;
}
.input_logoin .form_layout form label{
    margin: 2px 0 0 0;
    
}

@media screen and (max-width:650px){
    .logo{
        display: none;
    }
    .box{
        width: 24rem;
    }
    .signup_box{
        width: 24rem;
    }
    .input_logoin{
        width: 100%;
    }
    .page_links ul :nth-child(4){
        display: none;
    }
    .page_links ul :nth-child(1){
        margin-left: 2.5rem;
    }
    .search_div{
        display: none;
    }
}

/* ============================================================
   VERIFICATION
============================================================ */
.otp_container{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}
.otp_content_area{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.otp_content{
    width: 42rem;
    height: 30rem;
    border: 1px solid rgba(119, 119, 119, 0.323);
    border-radius: 4px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.812);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 1rem .1rem rgba(128, 128, 128, 0.43);
}
.otp_content:hover{
    box-shadow: 0px 0px 1.4rem .1rem rgba(128, 128, 128, 0.523);
}
.verification{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verification p{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #363062;
}
.content_verify{
    width: 100%;
    height: 5rem;
    color: #4D4C7D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_verify p{
    font-size: 1.5rem;
    font-family:sans-serif;
}
.otp_number{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.otp_number input{
    width: 1.5rem;
    height: 2rem;
    color: #4D4C7D;
    font-size: 1.5rem;
    background-color: aliceblue;
    box-shadow: 2px 2px 4px 2px lightsteelblue;
}
.otp_content .otp_number input{
    text-align: center;
    border: none;
    outline: none;
}
.verify_otp_button{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verify_otp_button button{
    width: 7rem;
    height: 2.4rem;
    background-color: #edb409;
    color: #4D4C7D;
    font-size: 1.1rem;
    border:none ;
    border-radius: 4px;
}
.verify_otp_button button:hover{
    background-color: #363062;
    color: aliceblue;
}
.resend_otp{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resend_otp p a{
    text-decoration: none;
    color: #4D4C7D;
}
.resend_otp p a:hover{
    color:#edb409;
}

/* ===============================================
   CONTENT 
=============================================== */
.content_part{
    width: calc(100vw - 15rem);
    height: 100%;
    background-color: aliceblue;
    border-left: 1px solid #4D4C7D;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.head_txt{
   padding: 1rem;
   padding-left: 1.5rem;
}
.earnings_chart{
    width: 100%;
    height: 26rem;
    display: flex;
    margin-bottom: 5rem;
}
.earnings_diagram{
    width: 60%;
    height: 100%;
}
.revenue_diagram{
    width: 40%;
    height: 100%;
}
.earnings_img{
    height: 100%;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: azure;
    box-shadow: 0 0 .7rem .2rem #4d4c7d74;
}
.revenue_img{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 100%;
    padding: 2rem;
    background-color: azure;
    box-shadow: 0 0 .7rem .2rem #4d4c7d74;
}
.project_chart{
    margin-top: rem;
    padding: 2rem;
    height: 25rem;
    margin: 1.5rem;
    background-color: azure;
    box-shadow: 0 0 .7rem .2rem #4d4c7d74;
}
.earnings_img:hover,.revenue_img:hover,.project_chart:hover{
    box-shadow: 0 0 .7rem .2rem #4d4c7db7;
}

/* ================================================
   USER LIST
================================================ */
.user_list_head{
    height: 4rem;
    display: flex;
    align-items: center;
}
.user_list {
    margin: 0 1rem  1rem 1.5rem;
    overflow: auto;
}
.user_table table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.user_table th {
    background-color: lightsteelblue;
    color: #4D4C7D;
    padding: 10px;
    text-align: left;
    overflow: auto;
}
.user_table td {
    border-bottom: 1px solid grey;
    padding: 10px;
    overflow: auto;
}
.user_table .action {
    text-align: center;
}
.user_table .bi-trash-fill {
    cursor: pointer;
    color: #363062;
}
.user_table .bi-person-fill {
    cursor: pointer;
    color: #363062;
}
.bi-person-fill-slash{
    cursor: pointer;
    color: #363062;
}
.user_table .bi-trash-fill:hover {
    color: darkred;
}
.user_table .bi-person-fill:hover {
    color: green;
}
.user_table .bi-person-fill-slash:hover {
    color: darkred;
}

/* ===================================================
   ORDER LIST
=================================================== */
.order_list_head{
    height: 4rem;
    display: flex;
    align-items: center;
}
.order_list {
    margin: 0 1rem  1rem 1.5rem;
    overflow: auto;
}
.order_table table {
    width: 100%;
    border-collapse: collapse;
}
.order_table th {
    background-color: lightsteelblue;
    color: #4D4C7D;
    padding: 10px;
    text-align: left;
}
.order_table td {
    border-bottom: 1px solid grey;
    padding: 10px;
    max-width: 10rem;
    overflow: scroll;
}
.edit_order_status{
    width: 100%;
    height: 100%;
    position: relative;
}
.hidden_orderstatus_div{
    width:100%;
    height: 100%;
    position: absolute;
    display:none;
}
.edit_order_status:hover + .hidden_orderstatus_div {
    display: block;
}
.edit_order_status {
    position: relative;
}

.order_status_dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.edit_order_status:hover .order_status_dropdown {
    display: block;
}

.order_status_dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.order_status_dropdown ul li {
    cursor: pointer;
}

/* ==============================================
    ADD PRODUCT 
============================================== */
.frame{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gap_div{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.86);
    box-shadow: 0px 0px 1.5rem 0.1rem rgba(128, 128, 128, 0.525);
    border: 1px solid rgba(128, 128, 128, 0.351);
    overflow: hidden;
    padding-bottom: 2rem;
}
.gap_div:hover{
    box-shadow: 0px 0px 1.5rem 0.1rem rgba(128, 128, 128, 0.704);
}
.card_div{
    width: 50%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 2.5rem;
}
.img_div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem; 
}
.content_part form{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
}
input,
select,
textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.image_space{
    width: 20rem;
    height: 20rem;
    border: 1px solid;
}
.image_buttn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 3rem;
    border-radius: 4px;
    margin-top: 1rem;
    background-color: #edb409;
    color: #363062;
}
.image_buttn:hover{
    background-color: #363062;
    color: aliceblue;
    border: none;
}
.img_div .form-group .image_buttn input{
    position: absolute;
    left: 0;
    width: 8rem;
    cursor: pointer;
    opacity: 0;
}
.card_div .form-group button {
    padding: 0.5rem 1rem;
    background-color: #edb409;
    color: #363062;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #363062;
    color: aliceblue;
    border: none;
}

@media screen and (max-width:1000px) {
    .image_space{
        width: 15rem;
        height: 15rem;
        border: 1px solid;
    }
    .image_buttn{  
        margin-left: 3.5rem;
    }
}
@media screen and (max-width:900px) {
    .side_bar{
        display: none;
    }
    .content_part{
        width: 100%;
    }
    .image_buttn{
       margin-right: 2.5rem;
    }
}
@media screen and (max-width:600px) {
    .image_space{
        width: 13rem;
        height: 13rem;
        border: 1px solid;
    }
    .image_buttn{  
        margin-left: 2.2rem;
    }
}
.dropdown_size ul{
    list-style: none;
}

.dropdown_size input:hover + ul {
     display: block;
}

/* ===========================================
   PRODUCTS GET 
==============================================*/
.product_list{
    margin: 0 1rem  1rem 1.5rem;
    overflow: auto;  
}
.products_list_head{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add_product_btn_admin{
    margin-right: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #edb409;
    color: #363062;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.product_table table {
    width: 100%;
    border-collapse: collapse;
}
.product_table th {
    background-color: lightsteelblue;
    color: #4D4C7D;
    padding: 10px;
    text-align: left;
}
.product_table td {
    border-bottom: 1px solid grey;
    padding: 10px;
    max-width: 10rem;
    overflow: scroll;
}
.img_product{
    width: 5rem;
    height: 5rem;
    border: 1px solid;
}
.product_table .bi-trash-fill{
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: .5rem;
    color: #363062;
}
.product_table .bi-pencil-square{
    cursor: pointer;
    font-size: 1.4rem;
    color: #4D4C7D;
}
.product_table .bi-trash-fill:hover {
    color: darkred;
}
.product_table .bi-pencil-square:hover {
    color: #edb409;
}
.pagination_admin_products{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.page_btn{
    width: 3rem;
    height: 50%;
    background-color: #edb409;
    color: #363062;
    border: none;
    border-radius: 4px;
}
.page_btn:hover {
    background-color: #363062;
    color: aliceblue;
    border: none;    
}

/* =============================================
   ADD COUPON 
============================================= */
.coupon_gap_div{
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.86);
    box-shadow: 0px 0px 1.5rem 0.1rem rgba(128, 128, 128, 0.525);
    border: 1px solid rgba(128, 128, 128, 0.351);
    overflow: hidden;
    padding-bottom: 2rem;
}
.coupon_gap_div:hover{
    box-shadow: 0px 0px 1.5rem 0.1rem rgba(128, 128, 128, 0.704);
}
.coupon_div{
    width: 60%;  
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 2.5rem;
}
.coupon_div button {
    padding: 0.5rem 1rem;
    background-color: #edb409;
    color: #363062;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #363062;
    color: aliceblue;
    border: none;    
}

/* ============================================
   ADD CATEGORY
============================================= */
.category_gap_div{
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.86);
    box-shadow: 0px 0px 1.5rem 0.1rem rgba(128, 128, 128, 0.525);
    border: 1px solid rgba(128, 128, 128, 0.351);
}
.category_gap_div:hover{
    box-shadow: 0px 0px 1.5rem 0.1rem rgba(128, 128, 128, 0.704);
}
.category_div{
    width: 75%;  
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
}
.category_img_centr{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.category_img_div{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;  
    overflow: auto;
}
.category_image_space{
    width: 10rem;
    height: 10rem;
    border: 1px solid;
}
.category_image_buttn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    border-radius: 4px;
    margin-top: .5rem;
    background-color: #edb409;
    color: #363062;
}
.category_image_buttn:hover{
    background-color: #363062;
    color: aliceblue;
    border: none;
}
.category_img_div .form-group .category_image_buttn input{
    position: absolute;
    left: 0;
    width: 9rem;
    cursor: pointer;
    opacity: 0;
}
.category_div button {
    padding: 0.5rem 1rem;
    width: 10rem;
    background-color: #edb409;
    color: #363062;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.category_div button:hover{
    background-color: #363062;
    color: aliceblue;
    border: none;
}
#dropdownList {
    background-color: lightsteelblue;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    list-style-type: none;
    position: absolute;
    z-index: 100;
    display: none;
    width: 90%; 
    border-radius: 4px; 
    bottom: 2.5rem;
    max-height:10rem;
    overflow-y: scroll;
}
.ul_li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.3rem 1rem;
    cursor: pointer;
    list-style: none;
    z-index: 100;
    height: auto;
    width:90%;
    overflow: hidden;
    line-break:anywhere;
}

/* ==========================================
   ADD Banner
=========================================== */
.banner_gap_div{
    width: 60%;
    height: 80%;
    min-width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.86);
    box-shadow: 0px 0px 1.5rem 0.1rem rgba(128, 128, 128, 0.525);
    border: 1px solid rgba(128, 128, 128, 0.351);
}
.banner_gap_div:hover{
    box-shadow: 0px 0px 1.5rem 0.1rem rgba(128, 128, 128, 0.704);
}
.banner_div{
    width: 80%;  
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.banner_div .banner_img_div{
    display: flex;
    align-items: center;
}
.banner_img_div{
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_centr{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_image_space{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 99%;
    height: 60%;
    min-height: 7rem;
    border: 1px solid;
}
.banner_image_buttn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 2.5rem;
    border-radius: 4px;
    background-color: #edb409;
    color: #363062;
}
.banner_image_buttn:hover{
    background-color: #363062;
    color: aliceblue;
    border: none;
}
.banner_img_div .form-group .banner_image_buttn input{
    position: absolute;
    left: 0;
    width: 8rem;
    cursor: pointer;
    opacity: 0;
}
.banner_div .form-group button{
    background-color: #edb409;
    color: #363062;
    height: 2.5rem;
    border-radius: 4px;
    border: none;
}
.banner_div .form-group button:hover{
    background-color: #363062;
    color: aliceblue;
    border: none;
}
