@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    width: 100%;
}
.content{
    width: 100%;
    height: calc(100vh - 4.5rem);
}
.addto_cart_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}
.bi-plus-lg{
    font-size: 1.1rem;
}
.bi-arrow-right-short{
    font-size: 1.4rem;
}
body::-webkit-scrollbar {
    width: 0em;
} 
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: transparent;
}





/* <<====== TOP BAR =======>> */

.top_nav{
    display: flex;
    height: 4.5rem;
    width: 100%;
    background-color: lightsteelblue;
}
.bi-box-arrow-right{
    font-size: 1.2rem;
}
.bi-search{
    font-size: 1.1rem;
}
.web_logo{
    flex: 1;
    display: flex;
    justify-content: start;
    padding-left: 3rem;
    align-items: center;   
}
.search_div{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.search_bar{
    display: flex;
    width: 70%;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.947);
    border: none;
    outline: none;
    overflow: hidden;
}
.search_input{
    border: none;
    background: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    padding-left: 1rem;
}
.search_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #f5bc13;
    letter-spacing: .02rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: .7rem;
    color: #363062;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.952)
}
.search_btn:hover{
    background-color: #363062;
    color: aliceblue;
}
.page_links{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page_links ul{
    display: flex;
}
.product_count{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .64rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    height: 1.07rem;
    width: 1.07rem;
    border-radius: 50%;
    background-color: #f80e0ea5;
    position: absolute;
    right: 0.6rem;
    top: 0.7rem;
    color: white;
}
.page_links ul li{
    list-style: none;
}
.page_links{
    position: relative;
    display: flex;
    align-items: center;
    gap:.4rem;
    text-decoration: none;
    color: #4D4C7D;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .08rem;
    font-weight: 500;
    padding: 1rem;
}
.page_links:hover{
    color: #f5bc13;
}
.bi-list{
    font-size: 1.8rem;
    display: none;
    color: white;
    cursor: pointer;
}
.bi-x-lg{
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
    display: none;
}
.bi-list:active{
    transform: scale(.95);
}
.bi_top_heart{
    font-size: 1.1rem !important;
}
.selected{
    border-bottom: 4px solid red;
}






/* <<<<<<<<<============== FOOTER ===============>>>>>>> */

.footer{
    width: 100%;
    height: 23rem;
    background-color:  #4D4C7D;
}
.footer h3{
    color: aliceblue;
    letter-spacing: .4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
    padding: 2.5rem 0 2rem 2rem;
}
.footer table{
    width: 100%;
    height: auto;
    padding: 0 2rem;
    table-layout: fixed;
}
.footer table th{
    text-align: start;
    letter-spacing: .03rem;
    height: 1.5rem;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 400;
    word-wrap: break-word;
}
.footer table td{
    color: white;
    font-weight: 400;
    font-size: .9rem;
    cursor: pointer;
    height: 2rem;
    color: rgba(255, 255, 255, 0.725);
    font-family: sans-serif;
    word-wrap: break-word;
}



@media screen and (max-width:600px) {
    .footer table th{
        font-size: 1rem;
    }
    .footer table td{
        font-size: .8rem;
    }    
}

@media screen and (max-width:850px) {
    .right{
        display: none!important;
    }
    .left{
        width: 100%!important;
    }
    .signup_frame{
        display: flex;
        width: 25rem;
        height: 32rem;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.284);
    }
}







/* <<<<<<===========================HOME WRAPPER ============================>>>>>> */


.home_wrapper{
    height: 100vh;
    width: 100%;
   .home_content{
    position: relative;
    width: 100%;
    height: calc(100vh - 4.5rem);
    padding: 0 2rem;
    overflow-y: scroll;
}
.banner{
    display: flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 26em;
    margin-top: 2rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.258);
   }
   .banner button{
    position: absolute;
    font-size: 3rem;
    top: 30%;
    z-index: 2;
    color: rgba(0, 0, 0, 0.491);
    background: none;
    border: none;
    transition: all .4s;
    cursor: pointer;
    margin-top: 4rem;
   }
   .next_banner{
     right: 0rem;
   }
   .banner button:active{
    transform: scale(.95);
   }
   .banner_sub_div{
    background-image: url('/images/k.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100% !important;
    height: 26em;
    flex-shrink: 0;
    position: relative;
    transition: all 2s;
   }
  .banner_text_frame{
    top: 20%;
    right: 6rem;
  }
  .banner_text_frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: auto;
    height: auto;
  }
  .banner_text_frame h2{
   font-size: 3rem;
   font-family: 'Poppins',sans-serif;
   color: rgb(255, 0, 0);
}
.banner_text_frame h4{
    font-size: 1.4rem;
    font-family: 'Poppins',sans-serif;
    color: rgba(0, 0, 0, 0.803);
  }
  .banner_text_frame h5{
    font-size: 1.3rem;
   font-family: 'Poppins',sans-serif;
   color: green;
  }
   header{
    display: flex;
    width: 100%;
    height: 3.5em;
    background-color: #4D4C7D;
    padding: 0 1rem;
   }
   header ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40%;
   }
   header ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: sans-serif;
    height: 3.5rem;
    width:7.9rem;
    cursor: pointer;
    font-weight: 500;
    transition: top .2s;
    font-size: .82rem;
    color: lightsteelblue;
   }
   header ul li:hover{
    border-bottom: 4px solid #f5bc13;
   }
   .category_li{
    display: block;
   }
   .bi-heart-fill{
    color: red;
    font-size: 1.3rem;
}
  .drop_bar{
    display: none;
    position: absolute;
    border-collapse: collapse;
    left: 1.8rem;
    width: 95vw;
    z-index: 3;
    transition: top .5s;
    background-color: white;
   }
   .drop_bar td{
      border: 1px solid rgba(0, 0, 0, 0.078);
       width: 34rem;
       height: 3rem;
   }
   .drop_bar td:hover{
    background-color: rgb(235, 235, 235);
   }
   .category_li:hover .drop_bar{
   display: block;

   }
   .category_li table li{
    width: 100%;
    height: 3.5rem;
    background-color: white;
    border-bottom: 1px solid rgba(49, 49, 49, 0.12);
   }
   .category_li ul li:hover{
    border-bottom: none;
    background-color: rgb(216, 216, 216);
   }
   .category_li:hover{
    border-bottom: none;
   }
   header a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white;
   }
   .category_li a{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    padding-left: .4rem;
    height: 100%;
    text-decoration: none;
    color: white;
   }
   .drop_bar a{
    width: 70%;
    display: flex;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    padding-left: .4rem;
    height: 100%;
    text-decoration: none;
    color: black;
    list-style:decimal;
   }
   .category_div p{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.932);
   }

   .category_div{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 8rem;
    background-color: rgba(226,244,255,255);
    margin-top: 2rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.235);
   }
   .category_frame{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
    border-radius: 50%;
    overflow: hidden;
   }
   .cat_img_div{
      display: flex;
      justify-content: center;
       align-items: center;
       flex-direction: column;
       width: 10rem;
       height: 10rem;
       border-radius: 50%;
       overflow: hidden;
       cursor: pointer;
   }
   .cat_img{
    width: 40%;
    height: 50%;
    border-radius: 100%;
   }
   .product_frame{
    position: relative;
    width: 100%;
    margin-top: 1rem;
    height: auto;
   }
   .home_pro_icon{
    position: absolute;
    top: 40%;
    left: 1rem;
    z-index: 1;
    font-size: 2rem;
    cursor: pointer;
   }
   .product_top{
    display: flex;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    width: 100%;
    font-size: 1.2rem;
    padding: 1.7rem 0;
    font-weight: 600;
   }
   .product_bottom{
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    align-items: center;
    padding: 1.7rem 1rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.078);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.175);
   }
   .product_bottom::-webkit-scrollbar {
    width: 0em;
  }
  
  .product_bottom::-webkit-scrollbar-track {
    background-color: transparent;
   }

 .product_bottom::-webkit-scrollbar-thumb {
    background-color: transparent;
}
   .product_frame_grid{
    height: 27rem;
    width: 20rem;
    padding: 0 2rem;
    border: 1px solid rgba(62, 62, 62, 0.287);
    cursor: pointer;
}
.top{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55%;

}
.wish_btn{
    position: absolute;
    top: .8rem;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .4s;
}
.wish_btn:active{
    transform: scale(.9);
}
.bi-heart{
    font-size: 1.3rem;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    height: 30%;
    border-bottom:1px solid rgba(151, 151, 151, 0.411);
}
.product_name{
    font-size: .91rem;
    text-align: center !important;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}
.name_div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}
.price_div{
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .5rem 0;
    height: 20%;
}
.old_price{
    text-decoration: line-through;
    color: red;
    font-family: 'Poppins',sans-serif;
    font-size: .85rem;
    font-weight: 400;
}
.new_price{
    font-family: 'Poppins',sans-serif;
    font-size: 1.18rem;
    font-weight: 500;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}
.addto_cart_btn{
    width: 13rem;
    height: 70%;
    border: none;
    background: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.855);
    cursor: pointer;
    color: white;
    font-size: .77rem;
    border-radius: .2rem;
    transition: all .4s;
    background-color:rgb(4, 33, 24);
}
.addto_cart_btn:active{
    transform: scale(.95);
}
.brands_frame{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 8rem;
    margin: 3rem 0 2rem 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.196);
    background-color: rgba(226,244,255,255);

}
.band_img{
   width: 6rem;
   height: 6rem;
   aspect-ratio: 3/2;
   object-fit: contain;
   transition: all.4s ease;
   cursor: pointer;
}
.redmi_png{
    height: 4rem;
    width: 4rem;
}
.band_img:hover{
  transform: scale(1.1);
}

.banner_2{
    width: 100%;
    height: 15rem;
    margin: 2rem 0;
}
.promo_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
    height: 10rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.196);
    background-color: rgba(226,244,255,255);
}
.promo_sec{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.promo_sec img{
    width: 5.5rem;
    height: 5.5rem;
}
.promo_sec p{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #003F62;
}
}
