<div class="footer">
    <h3> <img src="/assets/ekart_logo - Copy.png" style="height: 1.5rem;" alt=""></h3>
    <table>
       <thead>
          <tr>
             <th>ABOUT</th>
             <th>HELP</th>
             <th>CONSUMER POLICY</th>
             <th>SOCIAL</th>
          </tr>
       </thead>
       <tbody>

          <tr>
             <td>Contact Us</td>
             <td>Payment</td>
             <td>Canceleation & return</td>
             <td>Facebook</td>
          </tr>
          <tr>
             <td>About Us</td>
             <td>Shipping</td>
             <td>Terms Of Use</td>
             <td>Twitter</td>
          </tr>
          <tr>
             <td>Careers</td>
             <td>Canceleation & return</td>
             <td>Security</td>
             <td>Youtube</td>
          </tr>
          <tr>
             <td>EKART Stories</td>
             <td>FAQ</td>
             <td>Privacy</td>
             <td>Instagram</td>
          </tr>
          <tr>
             <td>Press</td>
             <td>Report Infrigement</td>
             <td>Sitemap</td>
             <td>Whatsapp</td>
          </tr>
          <tr>
             <td>EKART Wholesale</td>
             <td></td>
             <td>Grievance Redrassal</td>
             <td></td>
          </tr>
          <tr>
             <td>Clear trip</td>
             <td></td>
             <td>EPR Compliance</td>
             <td></td>
          </tr>

       </tbody>
    </table>
</div>