<div class="frame">
    <div class="left_bar">
        <ul>
            <li class="left_profile_li">
                <img src="#" alt="">
                <h3> HELLO </h3>
            </li>
            <li onclick="location.href='/account'"> <i class="bi bi_left_bar bi-person-circle"></i> Profile </li>
            <li onclick="location.href='/forget_Password'"> <i class="bi bi_left_bar bi-shield-lock-fill"></i> Update Password </li>
            <li onclick="location.href='/account/Orders'"> <i class="bi bi_left_bar bi-gift-fill"></i> Orders </li>
            <li onclick="location.href='/cart'"> <i class="bi bi_left_bar bi-cart-fill"></i> Cart </li>
            <li onclick="location.href='/wishlist'"> <i class="bi bi_left_bar bi-heart-fill"></i> Wishlist </li>
            <li onclick="location.href='/aboutUs'"> <i class="bi bi_left_bar bi-info-circle-fill"></i> About Us </li>
        </ul>
    </div>
</div>