<div class="frame">
    <div class="left_bar">
        <ul>
            <li class="left_profile_li">
                <img src="#" alt="">
                <h3> HELLO </h3>
            </li>
            <li> <i class="bi bi_left_bar bi-person-circle"></i> Profile </li>
            <li> <i class="bi bi_left_bar bi-shield-lock-fill"></i> Update Password </li>
            <li> <i class="bi bi_left_bar bi-gift-fill"></i> Orders </li>
            <li> <i class="bi bi_left_bar bi-cart-fill"></i> Cart </li>
            <li> <i class="bi bi_left_bar bi-heart-fill"></i> Wishlist </li>
            <li> <i class="bi bi_left_bar bi-info-circle-fill"></i> About Us </li>
            <li> <i class="bi bi_left_bar bi-telephone-fill"></i> Contact Us </li>
        </ul>
    </div>
    </div>