        <!-- <div class="body"> -->
            <div class="side_bar">
                <div class="sidebar_list">
                    <ul>
                        <li> <i class="bi bi_admin_sidebar bi-graph-up-arrow"></i> Dashboard </li>
                        <li> <i class="bi bi_admin_sidebar bi-person-vcard"></i> Users </li>
                        <li> <i class="bi bi_admin_sidebar bi-inboxes-fill"></i> Products </li>
                        <li> <i class="bi bi_admin_sidebar bi-card-checklist"></i> Orders </li>
                        <li> <i class="bi bi_admin_sidebar bi-collection-fill"></i> Banners </li>
                        <li> <i class="bi bi_admin_sidebar bi-tags-fill"></i> Coupons </li>
                        <li> <i class="bi bi_admin_sidebar bi-list-task"></i> Category </li>
                        <li> <i class="bi bi_admin_sidebar bi-envelope-fill"></i> Mails </li>
                    </ul>

                </div>

            </div>
        <!-- </div> -->
