        <!-- <div class="body"> -->

            
            <div class="side_bar">
                <div class="sidebar_list">
                    <ul>
                        <li onclick="window.location.href='/admin/home'"> <i class="bi bi_admin_sidebar bi-graph-up-arrow"></i> Dashboard </li>
                        <li onclick="window.location.href='/admin/user_list'"> <i class="bi bi_admin_sidebar bi-person-vcard"></i> Users </li>
                        <li onclick="window.location.href='/admin/products'"> <i class="bi bi_admin_sidebar bi-inboxes-fill"></i> Products </li>
                        <li onclick="window.location.href='/admin/orders'"> <i class="bi bi_admin_sidebar bi-card-checklist"></i> Orders </li>
                        <li onclick="window.location.href='/admin/banners'"> <i class="bi bi_admin_sidebar bi-collection-fill"></i> Banners </li>
                        <li onclick="window.location.href='/admin/coupons'"> <i class="bi bi_admin_sidebar bi-tags-fill"></i> Coupons </li>
                        <li onclick="window.location.href='/admin/category'"> <i class="bi bi_admin_sidebar bi-list-task"></i> Category </li>
                        <li onclick="window.location.href='   '"> <i class="bi bi_admin_sidebar bi-envelope-fill"></i> Mails </li>
                    </ul>
                </div>
            </div>


        <!-- </div> -->
