<%- include("../admin-header.ejs") %>
    <div class="container">

        <%- include("../adminnav.ejs") %>
        <div class="body">
            <%- include("../sidebar.ejs") %>

            <div class="content_part">

                <form method="post" id="category_form">
                    <div class="frame">
                        <div class="category_gap_div">
                            <div class="category_div">

                                <div class="category_img_div">      
                                    <div class="form-group category_img_centr">
                                        <div class="category_image_space">
                                            <img src="" alt="" id="imagePreview" style="width: 100%; height: 100%;">
                                        </div>
                                        <div class="category_image_buttn">
                                           Choose Image
                                           <input type="file" id="categoryImage" onchange="previewImage(this)" name="categoryImage">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="categoryName">Category Name</label>
                                    <input type="text" id="categoryName" name="category" placeholder="Enter category name">
                                </div>
                                <div class="form-group">
                                    <label for="categoryName">Sub-Category Name</label>
                                    <div id="subcatError" style="color: brown;"></div>
                                    <div style=" display: flex;">
                                        <div class="subcategoryDropdown" style="width: 100%; display: block; position: relative;">
                                            <input type="text" id="subcategoryName" name="subCategory" placeholder="Add sub-category"  onclick="toggleDropdown()" style="width: calc(100% - 2.5rem);">
                                            <div id="dropdownList" class="li_div">
                                                <ul></ul>
                                            </div>
                                        </div>
                                        <button id="sub-category_submit_btn" style="width: 2.5rem; display: flex;justify-content: center; margin-left: .5rem;">Add</button>
                                    </div>
                                </div>
                                <div id="errorMessage" style="color: brown; margin-bottom: .5rem;"></div>
                                <div style="display:flex; justify-content: center;">
                                    <button type="submit" id="category_submit_btn">Submit</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>  

                         
            </div>
        </div>
    </div>

<%- include("../../end.ejs") %>
<script src="/js/admin/category.js"></script>



<style>
    .bi-trash-fill{
        color: #363062;
        margin-left: .5rem;
    }
    .bi-trash-fill:hover{
        color: brown;
    }
    .ul_li:hover {
        background-color: aliceblue;
    }
</style>  