<%- include("../admin-header.ejs") %>
    <div class="container">

        <%- include("../adminnav.ejs") %>
        <div class="body">
            <%- include("../sidebar.ejs") %>

            <div class="content_part">

                <form action="" method="post">
                    <div class="frame">
                        <div class="gap_div">
                            <div class="card_div">
                                <div class="form-group">
                                    <label for="productName">Product Name</label>
                                    <input type="text" id="productName" name="productName" placeholder="Enter product name">
                                </div>
                
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="text" id="price" name="price" placeholder="Enter price">
                                </div>
                
                                <div class="form-group">
                                    <label for="discount">Discount</label>
                                    <input type="text" id="discount" name="discount" placeholder="Enter discount">
                                </div>
                
                                <div class="form-group">
                                    <label for="stock">Stock</label>
                                    <input type="text" id="stock" name="stock" placeholder="Enter stock">
                                </div>
                
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select id="category" name="category">
                                        <option value="" selected disabled>Select category</option>
                                        <option value="home">Home</option>
                                        <option value="electronics">Electronics</option>
                                        <option value="mens">Mens</option>
                                        <option value="womens">Womens</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="subCategory">Sub Category</label>
                                    <select name="subCategory" id="subCategory">
                                        <option value="" selected disabled>Select sub category</option>
                                        <option value="">Shirts</option>
                                        <option value="">Pants</option>
                                        <option value="">Shoes</option>
                                        <option value="">Tops</option>
                                        <option value="">Bottoms</option>
                                        <option value="">Shawls</option>
                                        <option value="">Party Wears</option>
                                        <option value="">Mobiles</option>
                                        <option value="">Laptops</option>
                                        <option value="">Watches</option>
                                        <option value="">Watches</option>                     
                                        <option value="">Kitchen Items</option>
                                        <option value="">Bedsheets</option>
                                        <option value="">Electronic Accessories</option>
                                    </select>
                                </div>
                
                                <div class="form-group">
                                    <label for="deliveryDate">Delivery Date</label>
                                    <input type="date" id="deliveryDate" name="deliveryDate" placeholder="Enter delivery date">
                                </div>
                
                                <div class="form-group">
                                    <label for="colour">Colour</label>
                                    <select name="colour" id="colour">
                                        <option value="" selected disabled>Select color</option>
                                        <option value="#ff0000" style="color: #ff0000;">Red</option> 
                                        <option value="#0000ff" style="color: #0000ff;">Blue</option>
                                        <option value="#00ff00" style="color: #00ff00;">Green</option>
                                        <option value="#000000" style="color: #000000;">Black</option>
                                        <option value="#f98000" style="color: #f98000;">Orange</option>
                                        <option value="#ffea00" style="color: #ffea00;">Yellow</option>     
                                    </select>
                                </div>
                
                                <div class="form-group">
                                    <label for="size">Size</label>
                                    <select name="size" id="">
                                        <option value="" selected disabled>Choose Size</option>                                            
                                        <option value="">Small</option>
                                        <option value="">Medium</option>
                                        <option value="">Large</option>
                                        <option value="">X-Large</option>
                                        <option value="">XX-Large</option>
                                    </select>
                                </div>
                
                                <div class="form-group">
                                    <label for="quantity">Quantity</label>
                                    <input type="text" id="quantity" name="quantity" placeholder="Enter quantity">
                                </div>
                
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea id="description" name="description" placeholder="Enter description"></textarea>
                                </div>
                                <div class="form-group">

                                    <button type="submit">Submit</button>
                                </div>
                            </div>
                            <div class="img_div">      
                                <div class="form-group img_centr">
                                    <div class="image_space">
                                        <img src="" alt="">
                                    </div>
                                   <div class="image_buttn">
                                        Choose Image
                                    <input type="file" id="productImage" name="productImage">
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                         
            </div>
        </div>
    </div>

<%- include("../../end.ejs") %>