<%- include("../../header.ejs") %>

<div class="container">
<%- include("../navLogin.ejs") %>
    
    <div class="login_body" style="
                                width: 100vw;
                                height: calc(100vh - 4rem);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: aliceblue;">
        <div class="box" >

            <div class="input_logoin">
                <div class="form_layout">
                    <div class="login_head" style="margin-top: 1rem;">Forget Password ?</div>

                    <form method="post" id="forgetPass_Form">
                        <label for="" style="margin-top: 2rem;">Email</label>
                        <div style="display: flex; justify-content: space-between; margin-top: .5rem;">
                            <div style=" display: flex;  align-items: center; gap: .3rem;">
                            </div>
                        </div>

                        <div id="forgetPass_Error" style="display: flex; justify-content: center; color: brown;"></div>

                        <div class="login_submit_div" >
                            <button class="login_submit" id="forget_pass_submitBtn" type="submit">Submit</button>
                        </div>

                        <div style="font-family: serif; display: flex; justify-content: center; align-items: center;" >
                            <p>Don't have an account?</p> <a href="/admin/signup" style="text-decoration: none; margin-left:.3rem"> Register</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="logo">
                <img src="/assets/ekart_logo.png" alt="">
            </div>

        </div>

    </div>
</div>

<%- include("../../end.ejs") %>


<script src="/js/admin/forgetPass.js"></script>