<%- include("../admin-header.ejs") %>
    <div class="container">

        <%- include("../adminnav.ejs") %>
        <div class="body">
            <%- include("../sidebar.ejs") %>

            <div class="content_part">

                <div class="order_list_head">
                    <p style="font-size: x-large; padding-left: 1.5rem;">Orders</p>
                </div>

                <div class="order_list">
                    <div class="order_table">

                        <table>
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Order ID</th>
                                    <th>Product Id</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>User ID</th>
                                    <th>Username</th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1548546845486445</td>
                                    <td>1548546845r86e58e</td>
                                    <td>abcdrdr</td>
                                    <td>466565</td>
                                    <td>abcfityft656975765</td>
                                    <td>abcrstyf</td>
                                    <td>ordered</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>          
            </div>
        </div>
    </div>

<%- include("../../end.ejs") %>