<%- include("../admin-header.ejs") %>
<div class="container">
    <%- include("../navLogin.ejs") %>
    <div class="login_body" style="">
        <div class="signup_box">

            <div class="input_logoin">  
                <div class="form_layout signup_part">
                    <div class="login_head signup_part_head">Admin Sign Up</div>
                    <form method="post" id="signup_form">

                        <label for="">Name</label>
                        <input type="text" id="signup_input_name" name="name" value="ramees">

                        <label for="">Email</label>
                        <div style="color: firebrick;" id="signup_error_email"> </div>
                        <input type="email" id="signup_input_email" name="email" value="ramees@gmail.com">
                        
                        <label for="">Phone No</label>
                        <div style="color: firebrick;" id="signup_error_phone"> </div>
                        <input type="text" id="signup_input_phone" name="phone" value="9745701592">
                        
                        <label for="">Password</label>
                        <div style="color: firebrick;" id="signup_error_password"> </div>
                        <input type="password" id="signup_input_password" name="password" value="Ramees@22">
                        
                        <label for="">Confirm Password</label>
                        <div style="color: firebrick;" id="signup_error_cpass"> </div>
                        <input type="password" id="signup_input_confirmPassword" name="confirmPassword" value="Ramees@22">

                        <div style="color: firebrick; display: flex; justify-content: center;" id="signup_error"> </div>

                        <div class="signup_submit_div" >
                            <button class="signup_submit part_2_btn" id="signup_submit_btn" type="submit">Submit</button>
                        </div>

                        <div style="font-family: serif; display: flex; justify-content: center; align-items: center;" >
                            <p>Already have an account?</p> <a href="/admin/login" style="text-decoration: none; margin-left:.3rem"> Login</a>
                        </div>

                    </form>

                </div>
            </div>

            <div class="logo">
                <img src="/assets/ekart_logo.png" alt="">
            </div>

         </div>
    </div>
</div>
<%- include("../../end.ejs") %>

<script src="/js/admin/adminSignup.js"></script>